# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/helloworld/.vs/helloworld/v15
/helloworld/Debug
/helloworld/x64/Debug
/helloworld/.vs/helloworld/v14/.suo
/helloworld/helloworld.VC.db
/helloworld/helloworld.VC.VC.opendb
/multi_file/Debug
/multi_file/.vs/multi_file/v14
/multi_file/ipch/MULTI_FILE-64a906e6
/multi_file/multi_file.VC.db
/multi_file/multi_file.VC.VC.opendb
